@import url(https://fonts.googleapis.com/css2?family=Pacifico);
.bg-light{
    background-color: #d32c37;
    box-shadow: 11px 21px 5px 0px rgba(0,0,0,0.75);
}

.navbar-light .navbar-brand{
    font-family: 'Pacifico';
    color: #4aaeb5;
    text-shadow: 7px 7px 5px 0px rgba(107,32,107,1);
}

.nav-link{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ae517d;
}

.nav-link:hover{
    color: #cb3454;
}

body, html{
    background-image: linear-gradient(to bottom right, rgba(255,0,0,0), rgba(255,0,0,1));
    background-color: #4aafb5;
    background-image: url(mountain.jpg);
    background-size: auto;
}

.btn-primary{
    background-color: #8759a6;
    background: linear-gradient(to right, red , yellow);
    box-shadow: 7px 12px 5px 0px rgba(139,28,214,1);
}

.btn-primary:hover{
    background-color: #956a86;
    box-shadow: 6px 8px 5px 0px rgba(183,116,232,1);
}

table tr:nth-child(odd) td{
    background-color: #10d3ef;
    background: linear-gradient(to bottom, rgba(89, 0, 255, 0), rgb(255, 0, 149));
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#2e10ef;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

a{
    color: #10d3ef;
}

a:hover{
    color: #1069ef;
}

legend{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #496286;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}