<div class="row">
	<main class="col-md-12">

		<div>
			<header>
				<h1>Welcome to visit the About page.</h1>
			</header>

			<section>
				<h2>About me</h2>
				<p>My name is Shuai Zhang. My student number is 136898236. My program is Business Information Tech.</p>
			</section>
		</div>

	</main>
</div>