<div class="row">
	<main class="col-md-12">

		<div>
			<section>
				<h2>Tables</h2>
				<table border="2">
					<caption>Student List</caption>
					<thead>
						<th>No. </th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Address City</th>
						<th>Tuition Fee</th>
					</thead>
					<tbody>
						<tr>
							<td>152</td>
							<td>Ingram</td>
							<td>Enevoldsen</td>
							<td rowspan="2">Toronto</td>
							<td>$9000</td>
						</tr>
						<tr>
							<td>153</td>
							<td>Noellyn</td>
							<td>Prebble</td>
							<td>$9500</td>				
						</tr>
						<tr>
							<td>154</td>
							<td>Carlotta</td>
							<td>Raynard</td>
							<td>Markham</td>
							<td>$10000</td>
						</tr>
					</tbody>
					<tfoot>
						<td colspan="4">Total</td>
						<td>$28500</td>
					</tfoot>
				</table>
				<p>This table illustrates the total tuition fees of all students.</p>
			</section>

			<section>
				<h2>Lists</h2>
				<ul>
					<li>DES720</li>
						<ol>
							<li>Section: ZAA</li>
							<li>Section: ZBB</li>
							<li>Section: ZCC</li>
						</ol>
					<li>JAV745</li>
					<li>OPS705</li>
					<li>SQL710</li>
					<li>WEB700</li>
				</ul>
				<P>This is a course list for BTT in Summer 2024.</P>
			</section>

			<section>
				<h2>Images</h2>
				<img src="https://upload.wikimedia.org/wikipedia/commons/f/f7/DOG-HUSKY_23JUL00.jpg" alt="Husky" width="400" height="500">
				<img src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Border_Collie_600.jpg" alt="Border collie" width="400" height="500">
				<img src="https://upload.wikimedia.org/wikipedia/commons/b/bd/Golden_Retriever_Dukedestiny01_drvd.jpg" alt="Golden Retriever" width="400" height="500">
				<p>There are three kinds of dogs.</p>
			</section>

			<section>
				<h2>Audio</h2>
				<audio controls>
					<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mp3">
				</audio>
				<audio controls>
					<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
				</audio>
				<p>There are two types of audio. The first one is mp3, and the second on is ogg.</p>
			</section>

			<section>
				<h2>Video</h2>
				<video width="320" height="240" controls>
					<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
				</video>
				<video width="320" height="240" controls>
					<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
				</video>
				<video width="320" height="240" controls>
					<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
				</video>
			</section>
			<p>There are three types of video. The first one is mp4, the second one is ogg, and the third one is webm.</p>
		</div>



	</main>
</div>